apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
spec:
  template:
    spec:
      containers:
        - name: auth-service
          env:
            - name: KEYCLOAK_ISSUER_URL
              value: https://auth.example.com/realms/nats-chat
