apiVersion: batch/v1
kind: Job
metadata:
  name: postgres-init
spec:
  template:
    spec:
      containers:
        - name: init
          env:
            - name: APP_BASE_URL
              value: "https://chat.cowbay.wtf"
